*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Mulish', sans-serif;
}

.container{
    width: 82%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}
li{
    list-style-type: none;
}

/* Navbar Design */
.nav{
    padding: 52px 0;
}
.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 18px;
}
.logo img{
    width: 48px;
}
.logo h2{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.logo span{
    color: #FF5400;
}

.nav-links{
    display: flex;
    gap: 36px;
    height: 100%;
    align-items: center;
}
.nav-links li{
    color: #424247;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}
.nav-links li:first-child{
    color: #FF5400;
}

.menuBar{
    width: 17px;
    display: none;
}

/* responsive Design */
@media screen and (max-width: 600px) {
    .container{
        width: 100%;
    }
    /* Navbar Responsive Design */
    .nav{
        padding: 20px 0;
    }
    .logo{ 
        gap: 8px;
    }
    .logo img{
        width: 28px;
    }
    .logo h2{
        font-size: 22px;
    }    
    .nav-links{
        display: none;
    }
    .menuBar{
        display: block;
    }
}
